<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ERC-20 Token Faucet</title>
    <!-- FAV ICON -->
    <link href="stylesheet/coffee.css" rel="stylesheet" />
  </head>
  <body>
    <div class="nav">
      <div class="buttons">
        <button type="button" id="home">Home</button>
        <button type="button" id="faucet">Faucet</button>
      </div>
      <div class="enter">
        <button type="button" id="log-in">Log in</button>
        <div class="infos">
          <p id="address">Address:</p>
          <p id="balance">Balance:</p>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="coffees">
        <div id="coffee1">
          <p>Espresso Con Panna</p>
          <div id="coffee1-img">
            <img
              src="https://www.starbucks.co.th/stb-media/2020/09/114.Espresso-Con-Panna1080.png"
              alt=""
            />
          </div>
        </div>
        <div id="coffee2">
          <p>Espresso Macchiato</p>
          <div id="coffee2-img">
            <img
              src="https://www.starbucks.co.th/stb-media/2020/09/116.EspressoMacchiato_Hot_Reserve_BlackEG.png"
              alt=""
            />
          </div>
        </div>
        <div id="coffee3">
          <p>Mocha</p>
          <div id="coffee3-img">
            <img
              src="https://www.starbucks.co.th/stb-media/2020/09/126.DarkChocMocha_Hot_Reserve_BlackEG-copy-2.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <div class="footer">https://github.com/seojunchian</div>
    <script src="javascript/coffee.js"></script>
  </body>
</html>
