<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ERC-20 Token Faucet</title>
        <!-- FAV ICON -->
        <link href="stylesheet/coffee.css" rel="stylesheet" />
    </head>
    <body>
        <div class="nav">
            <div class="buttons">
                <button type="button" id="faucet">Faucet</button>
                <button type="button" id="coffee">Coffee</button>
            </div>
        </div>
        <div class="main">
            <h2>Welcome to an ERC-2O Token Faucet and Coffee Shop</h2>
        </div>
        <div class="footer">https://github.com/seojunchian</div>
        <script src="javascript/coffee.js"></script>
    </body>
</html>
